.main-slider {
  width: 100%;
  height: 100vh;
}
.main-slider-item {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.main-slider-image {
  width: 100%;
  height: 100%;
}
.main-slider-title {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: #f0f0f0;
  font-size: 58px;
  font-weight: normal;
  line-height: 3.8rem;
  padding: 0.175rem 1.25rem 0.175rem 1rem;
  position: absolute;
  z-index: 3;
  bottom: 155px;
  left: 100px;
  background-image: url(./source/img/slide-layer-bg.png);
  margin: 0;
}
.main-slider-title-bg {
  background-image: url(./source/img/slide-layer2-bg.png);
  background-size: 100%;
  height: 137px;
  z-index: 1;
  width: 830px;
  position: absolute;
  bottom: 117px;
  left: 130px;
}
.main-slider-text {
  font-size: 36px;
}
.main-slider-button {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 115px;
  background-color: #b36060;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #fefefe;
  font-size: 18px;
  border: none;
  padding: 13px 85px 13px 25px;
  background-image: url(./source/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 160px 19px;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .main-slider {
    width: 100%;
    height: 100%;
  }
  .main-slider-item {
    height: 100%;
  }
  .main-slider-image {
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  .main-slider-item {
    height: 410px;
  }
  .main-slider-title {
    bottom: 92px;
    left: 10px;
    font-size: 32px;
    line-height: 1.2;
    padding: 0.4875rem 1.75rem 0.4875rem 0.8rem;
  }
  .main-slider-title-bg {
    background-image: url(./source/img/slide-layer2-bg.png);
    width: 482px;
    height: 92px;
    bottom: 72px;
    left: 30px;
  }
  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 20px;
  }
  .main-slider-button {
    bottom: 57px;
    left: 30px;
    width: 137px;
    height: 30px;
    padding: 0 15px;
    font-size: 14px;
    text-align: left;
    background-image: url(./source/img/arrow_mob.png);
    background-position: 115px 13px;
  }
}
@media (max-width: 767.98px) {
  .main-slider-item {
    height: 410px;
  }
  .main-slider-title {
    bottom: 68px;
    left: 10px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.175rem 0.625rem 0.175rem 0.625rem;
  }
  .main-slider-title-bg {
    background-image: url(./source/img/slide-layer2-bg.png);
    width: 288px;
    height: 55px;
    bottom: 56px;
    left: 30px;
  }
  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 14px;
  }
  .main-slider-button {
    bottom: 39px;
    left: 21px;
    width: 115px;
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
    text-align: left;
    background-image: url(./source/img/arrow_mob.png);
    background-position: 100px 10px;
  }
}
@media (max-width: 575.98px) {
  .main-slider-item {
    height: 235px;
  }
  .main-slider-title {
    bottom: 68px;
    left: 10px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.175rem 0.625rem 0.175rem 0.625rem;
  }

  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 14px;
  }
  .main-slider-button {
    bottom: 39px;
    left: 21px;
    width: 115px;
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
    text-align: left;
    background-image: url(./source/img/arrow_mob.png);
    background-position: 100px 10px;
  }
}
