.main-slider {
  width: 100%;
  height: 100vh;
}
.main-slider-item {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.main-slider-image {
  width: 100%;
  height: 100%;
}
.main-slider-title {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: #f0f0f0;
  font-size: 58px;
  font-weight: normal;
  padding: 0 1.875rem 1rem 0.75rem;
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-slider-title::after {
  content: "";
  display: block;
  width: 98.751%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -37px;
  left: 35px;
  z-index: -1;
}
.main-slider-text {
  display: block;
  font-size: 36px;
}
.main-slider-button {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 115px;
  background-color: #b36060;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #fefefe;
  font-size: 18px;
  border: none;
  padding: 13px 85px 13px 25px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 160px 19px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.main-slider-button:hover {
  background-color: #b64444;
}
@media (max-width: 1440px) {
  .main-slider {
    width: 100%;
    height: 100%;
  }
  .main-slider-item {
    height: 100%;
  }
  .main-slider-image {
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  .main-slider-item {
    height: 410px;
  }
  .main-slider-title {
    bottom: 60px;
    left: 10px;
    font-size: 32px;
    line-height: 1.2;
    padding: 0.4875rem 1.75rem 0.4875rem 0.8rem;
  }
  .main-slider-title::after {
    width: 100%;
    height: 100%;
    bottom: -21px;
    left: 20px;
  }
  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 20px;
  }
  .main-slider-button {
    bottom: 57px;
    left: 30px;
    width: 137px;
    height: 30px;
    padding: 0 15px;
    font-size: 14px;
    text-align: left;
    background-image: url(../img/arrow_mob.png);
    background-position: 115px 13px;
  }
}
@media (max-width: 767.98px) {
  .main-slider-item {
    height: 320px;
  }
  .main-slider-title {
    bottom: 47px;
    left: 10px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.5rem 0.5rem 0.5rem 0.3125rem;
  }
  .main-slider-title::after {
    width: 100%;
    bottom: -21px;
    left: 20px;
  }
  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 14px;
  }
  .main-slider-button {
    bottom: 39px;
    left: 21px;
    width: 115px;
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
    text-align: left;
    background-image: url(../img/arrow_mob.png);
    background-position: 100px 10px;
  }
}
@media (max-width: 575.98px) {
  .main-slider-item {
    height: 235px;
  }
  .main-slider-title {
    bottom: 47px;
    left: 10px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.5rem 0.5rem 0.5rem 0.3125rem;
  }
  .main-slider-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    bottom: -13px;
    left: 10px;
  }
  .main-slider-text {
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 14px;
  }
  .main-slider-button {
    bottom: 38px;
    left: 21px;
    width: 115px;
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
    text-align: left;
    background-image: url(../img/arrow_mob.png);
    background-position: 100px 10px;
  }
}
