.main-slider {
  width: 100%;
  height: 100vh;
}
.main-slider-item {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.main-slider-image {
  width: 100%;
  height: 100%;
}
.main-slider-title {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: #f0f0f0;
  font-size: 58px;
  font-weight: normal;
  line-height: 3.8rem;
  padding: 0.175rem 1.25rem 0.175rem 0.625rem;
  position: absolute;
  z-index: 1;
  bottom: 155px;
  left: 105px;
  background-image: url(/source/img/slide-layer-bg.png);
  margin: 0;
}
.main-slider-text {
  font-size: 36px;
}
.main-slider-button {
  position: absolute;
  bottom: 100px;
  left: 130px;
  background-color: #b36060;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #fefefe;
  font-size: 18px;
  border: none;
  padding: 13px 85px 13px 25px;
  background-image: url(/source/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 160px 19px;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .main-slider {
    width: 100%;
    height: 100%;
  }
  .main-slider-item {
    height: 100%;
  }
  .main-slider-image {
    height: 100%;
  }
}
