.mm-navbar__title {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background-color: #e1ded9;
}
.mm-btn {
  --mm-color-button: #d4d1ca;
}
