.modal {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-flow: row;
  .modal-image {
    width: 350px;
    max-width: 100%;
  }
}
.modal.closed {
  display: none;
}
.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: hidden;
  z-index: 1010;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-form-fields{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}