.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
  width: 90%;
  height: 70%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}

.modal-image {
  display: none;
  background-image: url(/source/img/form_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-form {
  width: 100%;
}

.modal-form-fields {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding-left: 3.75rem;
  width: 100%;
}
.modal-close {
  align-self: flex-start;
  width: 17px;
  height: 17px;
  background-image: url(/source/img/close_icon.png);
  background-repeat: no-repeat;
  margin: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.modal-form-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #4a4a4a;
}
.modal-form-label {
  font-size: 0.875rem;
  color: #716d6d;
}
.form-input {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 1rem 0;
  margin: 0.625rem 0 1.875rem;
}
.form-text {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 2.4375rem 0;
  margin: 0.625rem 0 1.875rem;
  resize: none;
}
.form-button {
  align-self: flex-end;
  width: 46%;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-size: 0.785rem;
  color: #ffffff;
  background-color: #db7d3a;
  border: none;
  border-radius: 2px;
  padding: 0.75rem 0;
  margin-bottom: 2.3125rem;
  cursor: pointer;
}

@media (min-width: 320px) {
  .modal-body {
    width: 90%;
    height: 90%;
  }
}
@media (min-width: 576px) {
  .modal-body {
    width: 80%;
    height: 70%;
  }
}
@media (min-width: 768px) {
  .modal-body {
    width: 80%;
    height: 70%;
  }
  .modal-image {
    width: 80.7021%;
    display: block;
  }
}
@media (min-width: 992px) {
  .modal-body {
    width: 80%;
    height: 60%;
  }
  .modal-image {
    width: 61.7021%;
    display: block;
  }
}
@media (min-width: 1200px) {
  .modal-body {
    width: 80%;
    max-width: 940px;
    height: 65%;
    max-height: 540px;
  }

  .modal-image {
    width: 40.7021%;
    display: block;
  }

  .modal-form {
    width: 62.3404%;
  }
}
.error {
  color: #b75d5d;
}
.invalid {
  border-color: #b75d5d;
  color: #b75d5d;
}
