.sidebar {
  background-image: url(/source/img/menu_bg.png);
  min-width: 300px;
  max-width: 300px;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sidebar-links-list {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  list-style: none;
  // margin-bottom: 1rem;
}
.links-item {
  padding: 0.5rem;
  a {
    text-decoration: none;
    color: #bdbdbd;
    font-size: 1rem;
  }
}
.sidebar-phone {
  margin-bottom: 2.8125rem;
}
.sidebar-phone-number {
  font-weight: 300;
  color: #fefefe;
  font-size: 1.25rem;
  padding: 1.25rem 2.3125rem 0;
  margin: 0;
}
.sidebar-phone-text {
  color: #c57c40;
  font-size: 1rem;
  border: none;
  border-bottom: 1px dashed #c57c40;
  margin-left: 2.3125rem;
  background-color: transparent;
  cursor: pointer;
}
.mmenu {
  display: none;
}
@media (max-width: 992px) {
  .sidebar {
    background-image: url(/source/img/menu_bg.png);
    background-repeat: repeat-x;
    padding: 0;
    width: 992px;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    .sidebar-links-list {
      display: none;
    }
    .sidebar-phone-number {
      display: none;
    }
    .sidebar-phone-text {
      display: none;
    }
    .sidebar-phone {
      background-image: url(/source/img/phone-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 17px;
      height: 18px;
      margin: auto 0;
      cursor: pointer;
      padding: 0.875rem;
      border-left: 1px solid #585757;
    }
    .sidebar-logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .sidebar-logo-title {
        font-size: 28px;
        padding: 0.5rem 0.625rem 0.5rem;
      }
    }
  }
}
