.sidebar-navigation {
  display: flex;
}
.sidebar-list {
  list-style: none;
  padding: 0;
}
.nav-item {
  position: relative;
  width: 100%;
  padding: 1.1rem 2.3125rem;
  border-bottom: 1px solid #545252;
}
.nav-item-promo {
  position: absolute;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  color: #f7f7f7;
  min-width: 24px;
  height: 23px;
  background-color: #b36060;
  right: 0;
  bottom: 16px;
  padding-left: 0.25rem;
  line-height: 2;
}
.nav-item-promo::before {
  content: "";
  display: block;
  width: 10px;
  height: 24px;
  background-image: url(../img/flag_bg.svg);
  background-repeat: no-repeat;
  background-position: right 1px;
  position: absolute;
  left: -9px;
  bottom: 0;
}
.nav-link:hover > .nav-item-promo {
  color: #f7f7f7;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #f7f7f7;
  transition: all 0.5s ease;
}
.nav-link:hover {
  color: #864d4d;
}
@media (max-width: 991.98px) {
  .sidebar-navigation {
    display: none;
  }
  .sidebar-list {
    list-style: none;
  }
  .nav-item {
    border: none;
    font-family: "Noto Sans", sans-serif;
  }
  .nav-link {
    font-size: 13px;
  }
}
