html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans Light', sans-serif; }

.main {
  position: relative;
  overflow: hidden;
  height: 100%; }

@font-face {
  font-family: 'Georgia';
  src: url("Georgia-BoldItalic.eot");
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("Georgia-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Georgia-BoldItalic.woff") format("woff"), url("Georgia-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Georgia';
  src: url("Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("Georgia-Italic.woff") format("woff"), url("Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Georgia';
  src: url("Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("Georgia-Bold.woff") format("woff"), url("Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Georgia';
  src: url("Georgia.eot");
  src: local("Georgia"), url("Georgia.eot?#iefix") format("embedded-opentype"), url("Georgia.woff") format("woff"), url("Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lora';
  src: url("Lora-Italic.eot");
  src: local("Lora Italic"), local("Lora-Italic"), url("Lora-Italic.eot?#iefix") format("embedded-opentype"), url("Lora-Italic.woff") format("woff"), url("Lora-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

.main-slider {
  width: 100%;
  height: 100%;
  min-height: 100%; }

.main-slider-item {
  width: 100%;
  min-height: 100%; }

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/source/img/menu_bg.png);
  min-width: 300px;
  max-width: 300px;
  min-height: 100%;
  z-index: 2;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sidebar-logo {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/source/img/logo_line.png);
  background-repeat: no-repeat;
  background-position: 47px 117px; }

.sidebar-logo-title {
  display: inline-block;
  color: #f4f4f4;
  font-family: "Georgia";
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #976740;
  padding: 0.8125rem 0.625rem 0.5rem;
  margin: 1.875rem auto 0; }

.sidebar-logo-text {
  display: inline-block;
  font-family: "Georgia";
  font-size: 0.9375rem;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 90px;
  right: 50px;
  z-index: 3;
  background-image: url(/source/img/menu_bg.png);
  background-repeat: no-repeat;
  padding: 0 0.5rem; }

.sidebar-logo-description {
  color: #aaa9a9;
  text-align: left;
  font-size: 1rem;
  font-family: "Open Sans Light", sans-serif;
  padding-left: 2.3125rem;
  margin-top: 2.1875rem; }

.sidebar-navigation {
  margin: 5rem 0 4rem; }

.nav-item-promo {
  width: 100%;
  background-image: url(/source/img/flag_bg.png);
  background-repeat: no-repeat;
  background-position: right center; }

.nav-link {
  text-transform: uppercase;
  font-size: 16px;
  color: #f7f7f7;
  border-bottom: 1px solid #545252;
  padding: 1.1rem 2.3125rem; }

.sidebar-links-list {
  list-style: none;
  margin-bottom: 1rem; }

.links-item a {
  color: #bdbdbd;
  font-size: 1rem; }

.sidebar-phone {
  margin-bottom: 2.8125rem; }

.sidebar-phone-number {
  font-weight: 300;
  color: #fefefe;
  font-size: 1.25rem;
  padding: 1.25rem 2.3125rem 0;
  margin: 0; }

.sidebar-phone-text {
  color: #c57c40;
  font-size: 1rem;
  border-bottom: 1px dashed #c57c40;
  margin-left: 2.3125rem; }

/*# sourceMappingURL=style.css.map */
